<div *ngIf="isLoggedIn">
  <!-- Кнопка для открытия чата -->
  <button (click)="startChat()" class="btn btn-primary rounded-circle position-fixed bottom-0 end-0 m-3" style="width: 60px; height: 60px; font-size: 30px;">
    +
  </button>

  <!-- Модальное окно чата -->
  <div class="chat-window position-fixed bottom-0 end-0 m-3" *ngIf="isChatOpen">
    <div class="modal-content chat-container">
      <div class="close-button">
        <button (click)="disconnect()">X</button>
      </div>
      <div class="messages">
        <div *ngFor="let dialog of chat.dialog" class="message">
          <!-- Условие для роли 1 -->
          <ng-container *ngIf="dialog.senderUser?.roles == 1; else userEmail">
            <strong><p class="sender-email">{{dialog.senderUser?.email || 'Unknown sender'}}</p></strong>
          </ng-container>

          <!-- Условие для других ролей -->
          <ng-template #userEmail>
            <strong><p class="sender-email" style="color:black">{{dialog.senderUser?.email || 'Unknown sender'}}</p></strong>
          </ng-template>

          <p class="message-text">{{dialog.message}}</p>
        </div>

      </div>
      <div class="input-area">
        <input type="text" [(ngModel)]="message" placeholder="Type a message...">
        <button (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>
