<app-header></app-header>

<router-outlet>
</router-outlet>

<button class="btn btn-primary rounded-circle position-fixed bottom-0 end-0 m-3" style="width: 60px; height: 60px; font-size: 30px;" data-bs-toggle="modal" data-bs-target="#chatModal">
  +
</button>

<div class="modal fade position-fixed bottom-0 end-0 p-3" id="chatModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="max-width: 300px;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: transparent;">
      <app-chat></app-chat>
    </div>
  </div>
</div>


